* {
    font-size: 1rem;
}

.homepage {
    height: 150vh;
    width: auto;
}

main {
    height: 300vh;
}

/*-----------------Navigation & Header-----------------*/
header nav ul li .nav-alt {
    font-size: 1rem;
}

.intro {

    h1 {
        font-size: 1rem;
        width: 100px;

        .intro-greeting {
            font-size: 2rem;
        }
    }

    img {
        display: none;
    }
}

/*-----------------Experience page-----------------*/
.experience {
    article {
        width: auto;
    }
}

/*-----------------Contact page-----------------*/
.contact {
    margin-top: 300px;
  
    h3 {
     visibility: hidden;
  
    }
  
    a {
        margin: 0;
    }
  }